svg{
	width: 100%; 
	height: auto;
}

@mixin abs-l0t0{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.wrapper{
	width:100%;
	height:100vh;
	position: relative;
	max-width: 1350px; 
	max-height: 760px;
	margin: auto;
}

.slide{
	@include abs-l0t0;

	&>div{
		@include abs-l0t0;
	}

	.btn{
		cursor: pointer;
	}
}

.slide-1{
	z-index: 10;
	.start{
		z-index: 5;
		background:rgba(0,0,0,0.5);
	}
}

.slide-2{
	.instruction{
		z-index: 5;
	}
	.movable{
		z-index: 10;
	}

	.parts{
		@include abs-l0t0;
	}

	.draggable{
		position: absolute;
		touch-action: none;
		background: rgba(0,0,0,0.2);
		opacity:0.5;
	}

	.dropoff{
		@include abs-l0t0;
		display: flex;
		justify-content: space-around;

	}

	.drop{
		
	}
}


.movable{
	.arm-l{
		width: 6.75%;
		left: 78%;
		top: 17.75%;
	}

	.arm-r{
		width: 6.7%;
		left: 85%;
		top: 17.75%;
	}

	.chest{
		width: 15%;
		left: 63.36%;
		top: 225.35px; // 20.60%;
	}

	.head{
		width: 6.5%;
		left: 64.80%;
		top: 52.51%;
	}

	.leg-l{
		width: 6.25%;
		left: 10%;
		top: 10%;
	}

	.leg-r{
		width: 6.25%;
		left: 30%;
		top: 30%;
	}
}

.slide-3{
	z-index:10;
	.feedback{
		background: rgba(0,0,0,0.5);
	}
}


.d-none{
	display: none;
}