.start{
	.st0{fill:#FFFFFF;}
	.st1{fill:#010000;}
	.st2{fill:#FEFEFE;}
	.st3{fill:#010101;}
	.st4{fill:#060606;}
	.st5{fill:#030303;}
	.st6{fill:#FF9900;}
	.st7{fill:#CDCDCD;}
	.st8{fill:#FE9900;}
	.st9{fill:#CCCCCC;}
	.st10{fill:#F7F7F7;}
	.st11{fill:#FEFEFD;}
	.st12{fill:#FD9800;}
	.st13{fill:#CACACA;}
	.st14{fill:#FDFDFD;}
	.st15{fill:#FCFCFC;}
	.st16{fill:#FC9700;}
	.st17{fill:#FEFDFC;}
	.st18{fill:#FCFBFA;}
	.st19{fill:#FCFCFA;}
	.st20{fill:#FD9903;}
	.st21{fill:#F5F5F5;}
	.st22{fill:#CBCBCB;}
	.st23{fill:#FBFAF8;}
	.st24{fill:#F6F6F6;}
	.st25{fill:#F3F3F3;}
	.st26{fill:#FBFBFB;}
	.st27{fill:#FAFAFA;}
	.st28{fill:#F4F4F4;}
	.st29{fill:#FFFBF6;}
	.st30{fill:#F0F0F0;}
	.st31{fill:#F2F2F2;}
	.st32{fill:#EEEEEE;}
	.st33{fill:#F8F8F8;}
	.st34{fill:#E7E7E7;}
	.st35{fill:#E8E8E8;}
	.st36{fill:#F1F1F1;}
	.st37{fill:#E88B00;}
	.st38{fill:#E6E6E6;}
	.st39{fill:#E3E3E3;}
	.st40{fill:#EDEDED;}
	.st41{fill:#E2E2E2;}
	.st42{fill:#E5E5E5;}
	.st43{fill:#DCDCDC;}
	.st44{fill:#DEDEDE;}
	.st45{fill:#D3D3D3;}
	.st46{fill:#E0E0E0;}
	.st47{fill:#C4C4C4;}
	.st48{fill:#B7B7B7;}
	.st49{fill:#8E8E8E;}
	.st50{fill:#8F8F8F;}
	.st51{fill:#7E7E7E;}
	.st52{fill:#8A8A8A;}
	.st53{fill:#070707;}
	.st54{fill:#040404;}
	.st55{fill:#0A0A0A;}
	.st56{fill:#0B0B0B;}
	.st57{fill:#090909;}
	.st58{fill:#0C0C0C;}
	.st59{fill:#020101;}
	.st60{fill:#020202;}
	.st61{fill:#080808;}
	.st62{fill:#111111;}
	.st63{fill:#0E0E0E;}
	.st64{fill:#050300;}
	.st65{fill:#0F0900;}
	.st66{fill:#120B00;}
	.st67{fill:#0E0800;}
	.st68{fill:#070501;}
	.st69{fill:#FFFBF5;}
	.st70{fill:#0B0905;}
	.st71{fill:#0C0700;}
	.st72{fill:#080603;}
	.st73{fill:#FFF9EF;}
	.st74{fill:#190F00;}
	.st75{fill:#F9F2E9;}
	.st76{fill:#0D0D0D;}
	.st77{fill:#0F0F0F;}
	.st78{fill:#171717;}
	.st79{fill:#2A2A2A;}
	.st80{fill:#3B3B3B;}
	.st81{fill:#1A1A1A;}
	.st82{fill:#151515;}
	.st83{fill:#323232;}
	.st84{fill:#444444;}
	.st85{fill:#040301;}
	.st86{fill:#030202;}
	.st87{fill:#181818;}
	.st88{fill:#101010;}
	.st89{fill:#5F5F5F;}
	.st90{fill:#F99600;}
	.st91{fill:#F79400;}
	.st92{fill:#FE9800;}
	.st93{fill:#131313;}
	.st94{fill:#050505;}
	.st95{fill:#EBEBEB;}
	.st96{fill:none;}
	.st97{fill:#FCFDFD;}
	.st98{fill:#FDFEFE;}
	.st99{fill:#FAFCFC;}
	.st100{fill:#F3F6F6;}
	.st101{fill:#B8BABA;}
	.st102{fill:#8CA7A7;}
	.st103{fill:#050404;}
	.st104{fill:#302828;}
	.st105{fill:#FEFDFD;}
	.st106{fill:#080500;}
}

.hanger{
	.st0{fill:#FEFEFE;}
	.st1{fill:#010101;}
	.st2{fill:#020202;}
	.st3{fill:#040404;}
	.st4{fill:#050505;}
	.st5{fill:#5E5E5E;}
	.st6{fill:#FFFFFF;}
	.st7{fill:#CDCDCD;}
	.st8{fill:#CFCFCF;}
	.st9{fill:#FF9900;}
	.st10{fill:#CCCCCC;}
	.st11{fill:#CECECE;}
	.st12{fill:#F7F7F7;}
	.st13{fill:#FCFCFC;}
	.st14{fill:#F9F9F9;}
	.st15{fill:#CBCBCB;}
	.st16{fill:#F39200;}
	.st17{fill:#F8F8F8;}
	.st18{fill:#FDFDFD;}
	.st19{fill:#F0F0F0;}
	.st20{fill:#FBFBFB;}
	.st21{fill:#FAFAFA;}
	.st22{fill:#F69300;}
	.st23{fill:#FEFEFD;}
	.st24{fill:#C7C7C7;}
	.st25{fill:#FE9800;}
	.st26{fill:#CACACA;}
	.st27{fill:#F2F2F2;}
	.st28{fill:#EEEEEE;}
	.st29{fill:#F89500;}
	.st30{fill:#FC9700;}
	.st31{fill:#F19100;}
	.st32{fill:#F79400;}
	.st33{fill:#F3F3F3;}
	.st34{fill:#F49300;}
	.st35{fill:#FA9600;}
	.st36{fill:#F1F1F1;}
	.st37{fill:#DFDFDF;}
	.st38{fill:#E1E1E1;}
	.st39{fill:#ECECEC;}
	.st40{fill:#E9E9E9;}
	.st41{fill:#EAEAEA;}
	.st42{fill:#EDEDED;}
	.st43{fill:#D8D8D8;}
	.st44{fill:#E0E0E0;}
	.st45{fill:#DDDDDD;}
	.st46{fill:#E4E4E4;}
	.st47{fill:#AEAEAE;}
	.st48{fill:#D0D0D0;}
	.st49{fill:#555555;}
	.st50{fill:#D3D3D3;}
	.st51{fill:#030303;}
	.st52{fill:#020101;}
	.st53{fill:#020201;}
	.st54{fill:#030202;}
	.st55{fill:#080808;}
	.st56{fill:#0C0C0C;}
	.st57{fill:#040302;}
	.st58{fill:#0B0B0B;}
	.st59{fill:#090909;}
	.st60{fill:#0D0D0D;}
	.st61{fill:#0A0A0A;}
	.st62{fill:#040402;}
	.st63{fill:#FFFEFC;}
	.st64{fill:#050300;}
	.st65{fill:#FFFDFA;}
	.st66{fill:#2E1B00;}
	.st67{fill:#050504;}
	.st68{fill:#D1D1D1;}
	.st69{fill:#D2D2D2;}
	.st70{fill:#FFFDFB;}
	.st71{fill:#FFFAF4;}
	.st72{fill:#F5F5F5;}
	.st73{fill:#C9C9C9;}
	.st74{fill:#F4F4F4;}
	.st75{fill:#969696;}
	.st76{fill:#FEFDFC;}
	.st77{fill:#C5C5C5;}
	.st78{fill:#E88C03;}
	.st79{fill:#5F5F5F;}
	.st80{fill:#E6E6E6;}
	.st81{fill:#EFEFEF;}
	.st82{fill:#E7E7E7;}
	.st83{fill:#FF9901;}
	.st84{fill:#C8C8C8;}
	.st85{fill:#C4C4C4;}
	.st86{fill:#F6F6F6;}
	.st87{fill:#BABABA;}
	.st88{fill:#F29100;}
	.st89{fill:#D7D7D7;}
	.st90{fill:#B7B7B7;}
	.st91{fill:#656565;}
	.st92{fill:#646464;}
	.st93{fill:#8C8C8C;}
	.st94{fill:#FC9801;}
	.st95{fill:#F79603;}
	.st96{fill:#F89602;}
	.st97{fill:#F99602;}
	.st98{fill:#C6C6C6;}
	.st99{fill:#FB9702;}
	.st100{fill:#C3C3C3;}
	.st101{fill:#FB9700;}
	.st102{fill:#040403;}
	.st103{fill:#080501;}
	.st104{fill:#0B0802;}
	.st105{fill:#FFFBF6;}
	.st106{fill:#D5D5D5;}
	.st107{fill:#050403;}
	.st108{fill:#0B0703;}
	.st109{fill:#090602;}
	.st110{fill:#D4D4D4;}
	.st111{fill:#101010;}
	.st112{fill:#060606;}
	.st113{fill:#070707;}
	.st114{fill:#0E0E0E;}
	.st115{fill:#D6D6D6;}
	.st116{fill:#DBDBDB;}
	.st117{fill:#EBEBEB;}
	.st118{fill:#A5A5A5;}
	.st119{fill:#7F7F7F;}
	.st120{fill:#F99500;}
	.st121{fill:#DADADA;}
	.st122{fill:#FE9900;}
	.st123{fill:#FDFEFE;}
	.st124{fill:#F3FCFC;}
	.st125{fill:#FAFBFB;}
	.st126{fill:#FCFDFD;}
	.st127{fill:#FE9901;}
	.st128{fill:#FCFEFE;}
	.st129{fill:#EDF5F5;}
	.st130{fill:#C4C9C9;}
	.st131{fill:#C3C9C9;}
	.st132{fill:#E6F0F0;}
	.st133{fill:#F5F6F6;}
	.st134{fill:#F9F8F6;}
	.st135{fill:#F7F8F8;}
	.st136{fill:#F5F7F7;}
	.st137{fill:#F7FBFB;}
	.st138{fill:#F0F3F3;}
	.st139{fill:#F6F6EF;}
	.st140{fill:#F0F1F1;}
	.st141{fill:#F2F4F4;}
	.st142{fill:#F3F5F5;}
	.st143{fill:#F0F4F4;}
	.st144{fill:#FAF9F9;}
	.st145{fill:#FAF8F8;}
	.st146{fill:#A5A4A4;}
	.st147{fill:#B3B9B9;}
	.st148{fill:#EAE9E9;}
	.st149{fill:#AFB5B5;}
	.st150{fill:#A0A1A1;}
	.st151{fill:#060401;}
	.st152{fill:#FDF9F5;}
	.st153{fill:#120A00;}
	.st154{fill:#281700;}
	.st155{fill:#2F2D2D;}
	.st156{fill:#251E1E;}
	.st157{fill:#1E1A1A;}
	.st158{fill:#2A2828;}
	.st159{fill:#231C1C;}
	.st160{fill:#181313;}
	.st161{fill:#1C1919;}

}

.interact{
	.st0{fill:#FEFEFE;}
	.st1{fill:#010101;}
	.st2{fill:#020202;}
	.st3{fill:#040404;}
	.st4{fill:#050505;}
	.st5{fill:#5E5E5E;}
	.st6{fill:#FFFFFF;}
	.st7{fill:#CDCDCD;}
	.st8{fill:#CFCFCF;}
	.st9{fill:#FF9900;}
	.st10{fill:#CCCCCC;}
	.st11{fill:#CECECE;}
	.st12{fill:#F7F7F7;}
	.st13{fill:#FCFCFC;}
	.st14{fill:#F9F9F9;}
	.st15{fill:#CBCBCB;}
	.st16{fill:#F39200;}
	.st17{fill:#F8F8F8;}
	.st18{fill:#FDFDFD;}
	.st19{fill:#F0F0F0;}
	.st20{fill:#FBFBFB;}
	.st21{fill:#FAFAFA;}
	.st22{fill:#F69300;}
	.st23{fill:#FEFEFD;}
	.st24{fill:#C7C7C7;}
	.st25{fill:#FE9800;}
	.st26{fill:#CACACA;}
	.st27{fill:#F2F2F2;}
	.st28{fill:#EEEEEE;}
	.st29{fill:#F89500;}
	.st30{fill:#FC9700;}
	.st31{fill:#F19100;}
	.st32{fill:#F79400;}
	.st33{fill:#F3F3F3;}
	.st34{fill:#F49300;}
	.st35{fill:#FA9600;}
	.st36{fill:#F1F1F1;}
	.st37{fill:#DFDFDF;}
	.st38{fill:#E1E1E1;}
	.st39{fill:#ECECEC;}
	.st40{fill:#E9E9E9;}
	.st41{fill:#EAEAEA;}
	.st42{fill:#EDEDED;}
	.st43{fill:#D8D8D8;}
	.st44{fill:#E0E0E0;}
	.st45{fill:#DDDDDD;}
	.st46{fill:#E4E4E4;}
	.st47{fill:#AEAEAE;}
	.st48{fill:#D0D0D0;}
	.st49{fill:#555555;}
	.st50{fill:#D3D3D3;}
	.st51{fill:#030303;}
	.st52{fill:#020101;}
	.st53{fill:#020201;}
	.st54{fill:#030202;}
	.st55{fill:#080808;}
	.st56{fill:#0C0C0C;}
	.st57{fill:#040302;}
	.st58{fill:#0B0B0B;}
	.st59{fill:#090909;}
	.st60{fill:#0D0D0D;}
	.st61{fill:#0A0A0A;}
	.st62{fill:#040402;}
	.st63{fill:#FFFEFC;}
	.st64{fill:#050300;}
	.st65{fill:#FFFDFA;}
	.st66{fill:#2E1B00;}
	.st67{fill:#050504;}
	.st68{fill:#D1D1D1;}
	.st69{fill:#D2D2D2;}
	.st70{fill:#FFFDFB;}
	.st71{fill:#FFFAF4;}
	.st72{fill:#F5F5F5;}
	.st73{fill:#C9C9C9;}
	.st74{fill:#F4F4F4;}
	.st75{fill:#969696;}
	.st76{fill:#FEFDFC;}
	.st77{fill:#C5C5C5;}
	.st78{fill:#E88C03;}
	.st79{fill:#5F5F5F;}
	.st80{fill:#E6E6E6;}
	.st81{fill:#EFEFEF;}
	.st82{fill:#E7E7E7;}
	.st83{fill:#FF9901;}
	.st84{fill:#C8C8C8;}
	.st85{fill:#C4C4C4;}
	.st86{fill:#F6F6F6;}
	.st87{fill:#BABABA;}
	.st88{fill:#F29100;}
	.st89{fill:#D7D7D7;}
	.st90{fill:#B7B7B7;}
	.st91{fill:#656565;}
	.st92{fill:#646464;}
	.st93{fill:#8C8C8C;}
	.st94{fill:#FC9801;}
	.st95{fill:#F79603;}
	.st96{fill:#F89602;}
	.st97{fill:#F99602;}
	.st98{fill:#C6C6C6;}
	.st99{fill:#FB9702;}
	.st100{fill:#C3C3C3;}
	.st101{fill:#FB9700;}
	.st102{fill:#040403;}
	.st103{fill:#080501;}
	.st104{fill:#0B0802;}
	.st105{fill:#FFFBF6;}
	.st106{fill:#D5D5D5;}
	.st107{fill:#050403;}
	.st108{fill:#0B0703;}
	.st109{fill:#090602;}
	.st110{fill:#D4D4D4;}
	.st111{fill:#101010;}
	.st112{fill:#060606;}
	.st113{fill:#070707;}
	.st114{fill:#0E0E0E;}
	.st115{fill:#D6D6D6;}
	.st116{fill:#DBDBDB;}
	.st117{fill:#EBEBEB;}
	.st118{fill:#A5A5A5;}
	.st119{fill:#7F7F7F;}
	.st120{fill:#F99500;}
	.st121{fill:#DADADA;}
	.st122{fill:#FE9900;}
	.st123{fill:#FDFEFE;}
	.st124{fill:#F3FCFC;}
	.st125{fill:#FAFBFB;}
	.st126{fill:#FCFDFD;}
	.st127{fill:#FE9901;}
	.st128{fill:#FCFEFE;}
	.st129{fill:#EDF5F5;}
	.st130{fill:#C4C9C9;}
	.st131{fill:#C3C9C9;}
	.st132{fill:#E6F0F0;}
	.st133{fill:#F5F6F6;}
	.st134{fill:#F9F8F6;}
	.st135{fill:#F7F8F8;}
	.st136{fill:#F5F7F7;}
	.st137{fill:#F7FBFB;}
	.st138{fill:#F0F3F3;}
	.st139{fill:#F6F6EF;}
	.st140{fill:#F0F1F1;}
	.st141{fill:#F2F4F4;}
	.st142{fill:#F3F5F5;}
	.st143{fill:#F0F4F4;}
	.st144{fill:#FAF9F9;}
	.st145{fill:#FAF8F8;}
	.st146{fill:#A5A4A4;}
	.st147{fill:#B3B9B9;}
	.st148{fill:#EAE9E9;}
	.st149{fill:#AFB5B5;}
	.st150{fill:#A0A1A1;}
	.st151{fill:#060401;}
	.st152{fill:#FDF9F5;}
	.st153{fill:#120A00;}
	.st154{fill:#281700;}
	.st155{fill:#2F2D2D;}
	.st156{fill:#251E1E;}
	.st157{fill:#1E1A1A;}
	.st158{fill:#2A2828;}
	.st159{fill:#231C1C;}
	.st160{fill:#181313;}
	.st161{fill:#1C1919;}
	.st162{fill:#F4F7F7;}
	.st163{fill:#312A2A;}
	.st164{fill:#F4F5F5;}
	.st165{fill:#E7ECEC;}
	.st166{fill:#EBECEC;}
	.st167{fill:#F8F9F9;}
	.st168{fill:#DEE1E1;}
	.st169{fill:#EBF0F0;}
	.st170{fill:#E3E9E9;}
	.st171{fill:#DCE4E4;}
	.st172{fill:#373030;}
	.st173{fill:#474747;}
	.st174{fill:#D2D4D4;}
	.st175{fill:#312B2B;}
	.st176{fill:#3D3131;}
	.st177{fill:#B2B8B8;}
	.st178{fill:#F9FEFE;}
	.st179{fill:#B5BBBB;}
	.st180{fill:#AFB2B2;}
	.st181{fill:#4F5959;}
	.st182{fill:#7C8787;}
	.st183{fill:#889191;}
	.st184{fill:#110F0F;}
	.st185{fill:#100D0D;}
	.st186{fill:#101111;}
	.st187{fill:#1C1818;}
	.st188{fill:#1C1713;}
	.st189{fill:#231A10;}
	.st190{fill:#150D00;}
	.st191{fill:#EDF4F4;}
	.st192{fill:#E3EBEB;}
	.st193{fill:#D98300;}
	.st194{fill:#F19200;}
	.st195{fill:#FD9801;}
	.st196{fill:#FBFCFC;}
	.st197{fill:#F9FCFA;}
	.st198{fill:#F8FAFA;}
	.st199{fill:#CBC9C9;}
	.st200{fill:#B5B7B7;}
	.st201{fill:#F3F4F4;}
	.st202{fill:#FA9705;}
	.st203{fill:#F6FAFA;}
	.st204{fill:#F7F6F2;}
	.st205{fill:#E48E0B;}
	.st206{fill:#E58E0A;}
	.st207{fill:#F9FCFC;}
	.st208{fill:#E89013;}
	.st209{fill:#EDEFEF;}
	.st210{fill:#F2EDE4;}
	.st211{fill:#F5F9F9;}
	.st212{fill:#F0F1EE;}
	.st213{fill:#F99702;}
	.st214{fill:#F39708;}
	.st215{fill:#D5870F;}
	.st216{fill:#F2EFE9;}
	.st217{fill:#F2ECE0;}
	.st218{fill:#F2ECE1;}
	.st219{fill:#A9A7A7;}
	.st220{fill:#0A0909;}
	.st221{fill:#1B1B1B;}
	.st222{fill:#0B0A08;}
	.st223{fill:#090603;}
	.st224{fill:#F0F7F2;}
	.st225{fill:#F9FBFB;}
	.st226{fill:#FAFCFC;}
	.st227{fill:#E4E6E6;}
	.st228{fill:#FFFEFE;}
	.st229{fill:#140B0B;}
	.st230{fill:#1B1919;}
	.st231{fill:#FE9801;}
	.st232{fill:#CBCCCC;}
	.st233{fill:#FCFDFC;}
	.st234{fill:#F7F9F9;}
	.st235{fill:#B7BABA;}
	.st236{fill:#F2F3F3;}
	.st237{fill:#FB9806;}
	.st238{fill:#F6F9F9;}
	.st239{fill:#F8F8F6;}
	.st240{fill:#DD8C0D;}
	.st241{fill:#EC910A;}
	.st242{fill:#EC951B;}
	.st243{fill:#EBEDED;}
	.st244{fill:#FFFBF5;}
	.st245{fill:#E2E6E5;}
	.st246{fill:#F49606;}
	.st247{fill:#F79909;}
	.st248{fill:#DF8C0E;}
	.st249{fill:#E5E2E0;}
	.st250{fill:#ECE9E1;}
	.st251{fill:#EDEBE6;}
	.st252{fill:#1D1717;}
	.st253{fill:#F9F9F5;}
	.st254{fill:#0C0700;}
	.st255{fill:#180F00;}
	.st256{fill:#180E0E;}
	.st257{fill:#161313;}
	.st258{fill:#FD9800;}
	.st259{fill:#FB9701;}
	.st260{fill:#F4F4F3;}
	.st261{fill:#EFF0F0;}
	.st262{fill:#F5F8F8;}
	.st263{fill:#F6F8F8;}
	.st264{fill:#F4F9F9;}
	.st265{fill:#EAEBEB;}
	.st266{fill:#DD8500;}
	.st267{fill:#F9FDFD;}
	.st268{fill:#EFF3F3;}
	.st269{fill:#DFE7E7;}
	.st270{fill:#F2F0EB;}
	.st271{fill:#E5E7E7;}
	.st272{fill:#F59000;}
	.st273{fill:#E2E6E6;}
	.st274{fill:#DFE2E2;}
	.st275{fill:#F1F0E5;}
	.st276{fill:#F5F0E4;}
	.st277{fill:#D3D9CB;}
	.st278{fill:#B8B7B7;}
	.st279{fill:#090805;}
	.st280{fill:#231400;}
	.st281{fill:#262424;}
	.st282{fill:#0B0909;}
	.st283{fill:#201D1D;}
	.st284{fill:#151111;}
	.st285{fill:#869B9B;}
	.st286{fill:#CCCDCD;}
	.st287{fill:#F9FAFA;}
	.st288{fill:#F7FAFA;}
	.st289{fill:#FC9902;}
	.st290{fill:#F1F4F4;}
	.st291{fill:#FCFBF9;}
	.st292{fill:#E6E7E7;}
	.st293{fill:#E3E5E5;}
	.st294{fill:#F6F5F3;}
	.st295{fill:#F59300;}
	.st296{fill:#FCF7F4;}
	.st297{fill:#F89702;}
	.st298{fill:#E8E9E9;}
	.st299{fill:#E48900;}
	.st300{fill:#E5ECEC;}
	.st301{fill:#F3F0F0;}
	.st302{fill:#EAEFEF;}
	.st303{fill:#F5FAFA;}
	.st304{fill:#F5EFED;}
	.st305{fill:#EAEEEE;}
	.st306{fill:#E5EBE6;}
	.st307{fill:#ED8A03;}
	.st308{fill:#E4E8E8;}
	.st309{fill:#120E00;}
	.st310{fill:#231F1F;}
	.st311{fill:#090808;}
	.st312{fill:#1F1313;}
	.st313{fill:#262121;}
	.st314{fill:#010000;}
	.st315{fill:#F0F6F2;}
	.st316{fill:#F1F6F1;}
	.st317{fill:#1A1313;}
	.st318{fill:#8C9B9B;}
	.st319{fill:#482F03;}
	.st320{fill:#A56700;}
	.st321{fill:#96620B;}
	.st322{fill:#1B1A1A;}
	.st323{fill:#231E1E;}

}

.feedback{
	.st0{fill:#FFFFFF;}
	.st1{fill:#010000;}
	.st2{fill:#FEFEFE;}
	.st3{fill:#010101;}
	.st4{fill:#030303;}
	.st5{fill:#060606;}
	.st6{fill:#020202;}
	.st7{fill:#CDCDCD;}
	.st8{fill:#FF9900;}
	.st9{fill:#CECECE;}
	.st10{fill:#FDFDFD;}
	.st11{fill:#FE9800;}
	.st12{fill:#CCCCCC;}
	.st13{fill:#CBCBCB;}
	.st14{fill:#FEFDFC;}
	.st15{fill:#FE9801;}
	.st16{fill:#FCFCFC;}
	.st17{fill:#FC9803;}
	.st18{fill:#FDFCFB;}
	.st19{fill:#FD9800;}
	.st20{fill:#F6F6F6;}
	.st21{fill:#F9F9F9;}
	.st22{fill:#F7F7F7;}
	.st23{fill:#F8F8F8;}
	.st24{fill:#F0F0F0;}
	.st25{fill:#C8C8C8;}
	.st26{fill:#FBFBF9;}
	.st27{fill:#F6F5F3;}
	.st28{fill:#FBFBFB;}
	.st29{fill:#F5F5F5;}
	.st30{fill:#C3C3C3;}
	.st31{fill:#EFEFEF;}
	.st32{fill:#F4F4F4;}
	.st33{fill:#F7F4F0;}
	.st34{fill:#EBEBEB;}
	.st35{fill:#C9C9C9;}
	.st36{fill:#F9F6F1;}
	.st37{fill:#F6F3EE;}
	.st38{fill:#FAF8F5;}
	.st39{fill:#F1F1F1;}
	.st40{fill:#F7F4EF;}
	.st41{fill:#F3F1EE;}
	.st42{fill:#E5E5E5;}
	.st43{fill:#F19100;}
	.st44{fill:#E6E6E6;}
	.st45{fill:#E1E1E1;}
	.st46{fill:#EEEEEE;}
	.st47{fill:#E0E0E0;}
	.st48{fill:#16130E;}
	.st49{fill:#F2EDE6;}
	.st50{fill:#F8F5F1;}
	.st51{fill:#D9D9D9;}
	.st52{fill:#E7E7E7;}
	.st53{fill:#ECECEC;}
	.st54{fill:#EDE9E3;}
	.st55{fill:#F3EDE3;}
	.st56{fill:#DEDEDE;}
	.st57{fill:#9E9E9E;}
	.st58{fill:#D9BF98;}
	.st59{fill:#747474;}
	.st60{fill:#B5B5B5;}
	.st61{fill:#DFCDB2;}
	.st62{fill:#5F5F5F;}
	.st63{fill:#191919;}
	.st64{fill:#040404;}
	.st65{fill:#121212;}
	.st66{fill:#D1D1D1;}
	.st67{fill:#070707;}
	.st68{fill:#0C0C0C;}
	.st69{fill:#0A0A0A;}
	.st70{fill:#0D0D0D;}
	.st71{fill:#0F0F0F;}
	.st72{fill:#080808;}
	.st73{fill:#050505;}
	.st74{fill:#110C06;}
	.st75{fill:#F5EDE2;}
	.st76{fill:#131313;}
	.st77{fill:#373737;}
	.st78{fill:#1B1B1B;}
	.st79{fill:#141414;}
	.st80{fill:#1A1A1A;}
	.st81{fill:#090500;}
	.st82{fill:#FC9700;}
	.st83{fill:#FB9600;}
	.st84{fill:#F69400;}
	.st85{fill:#DCDCDC;}
	.st86{fill:#FAFAFA;}
	.st87{fill:#F3F3F3;}
	.st88{fill:none;}
	.st89{fill:#020201;}
	.st90{fill:#090909;}
	.st91{fill:#FEFEFD;}
	.st92{fill:#070400;}
	.st93{fill:#080500;}


}